.App {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6347;
  color: #ffffff;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */


}
